<%= form_for @party do |f| %>
    <%= f.text_field :name, :class => 'form-control', :style => 'resize: none', :value => @party.name %>

    <% (1..6).each do |i| %>
        <div id="pkm<%= i %>" class="partybox">
          <%= image_tag 'pokemon/'+@code[i].to_s+'.gif', :id => "pkm#{i}_img" if (!@shiny[i] and !@pkmid[i]) %>
          <%= image_tag 'shinyPokemon/'+@code[i].to_s+'.gif', :id => "pkm#{i}_img" if (@shiny[i] and !@pkmid[i]) %>
          <%= image_tag '0.png', :id => "pkm#{i}_img"  if @pkmid[i] %>
          <select name="party[pkm<%= i %>_id]" id="party_pkm<%= i %>_id" onchange='pkm(<%=i%>,"<%=i%>-"+value);'>
            <option value="">Please select</option>
            <% current_user.pokemons.order(:name).each do |pkm| %>
                <option id="<%= i %>-<%= pkm.id %>" value="<%= pkm.id %>" data-name="<%= pkm.name %>"
                        data-specie="<%= PokemonDefault.where(forme: nil).find_by(num: pkm.number).name %>"
                        data-item="<%= Item.find(pkm.item_id).name if pkm.item_id %>"
                        data-code="<%= PokemonDefault.where(forme: nil).find_by(num: pkm.number).code %>"
                        data-ability="<%= Ability.find(pkm.ability_id).name if pkm.ability_id %>"
                        data-move1="<%= Move.find(pkm.move1_id).name if pkm.move1_id %>"
                        data-move2="<%= Move.find(pkm.move2_id).name if pkm.move2_id %>"
                        data-move3="<%= Move.find(pkm.move3_id).name if pkm.move3_id %>"
                        data-move4="<%= Move.find(pkm.move4_id).name if pkm.move4_id %>"
                        data-shiny="<%= pkm.shiny %>"><%= pkm.name %></option>
            <% end %>
          </select>
          <textarea class="description"  readonly  id="pkm<%= i %>_description"></textarea>
        </div>
    <% end %>

    <%= f.text_area :obs, :class => 'form-control', :style => 'resize: none', :placeholder => 'Write your observations here...' %>

    <%= f.submit 'Save', :class => 'btn btn-primary', :style => 'width: 100%;' %>
<% end %>
