<div class="partybox">
  <%= image_tag '0.png' %>
  <% form_for @party do |f| %>
      <%= f.collection_select :pkm1_id, current_user.pokemons.order(:name), :id, :name %>
  <% end %>
</div>

<div class="partybox">
  <%= image_tag '0.png' %>
  <% form_for @party do |f| %>
      <%= f.collection_select :pkm2_id, current_user.pokemons.order(:name), :id, :name %>
  <% end %>
</div>

<div class="partybox">
  <%= image_tag '0.png' %>
  <% form_for @party do |f| %>
      <%= f.collection_select :pkm3_id, current_user.pokemons.order(:name), :id, :name %>
  <% end %>
</div>

<div class="partybox">
  <%= image_tag '0.png' %>
  <% form_for @party do |f| %>
      <%= f.collection_select :pkm4_id, current_user.pokemons.order(:name), :id, :name %>
  <% end %>
</div>

<div class="partybox">
  <%= image_tag '0.png' %>
  <% form_for @party do |f| %>
      <%= f.collection_select :pkm5_id, current_user.pokemons.order(:name), :id, :name %>
  <% end %>
</div>

<div class="partybox">
  <%= image_tag '0.png' %>
  <% form_for @party do |f| %>
      <%= f.collection_select :pkm6_id, current_user.pokemons.order(:name), :id, :name %>
  <% end %>
</div>
