<div class="caixona">
  <ul class="tabs">
    <% (1..4).each do |i| %>
        <li>
          <input type="radio" checked name="tabs" id="tab<%= i %>">
          <label for="tab<%= i %>"><%= current_user.boxes.find_by(number: i ).name %></label>
          <div id="tab-content<%= i %>" class="tab-content animated fadeIn">
            <div id="div<%= i %>">
              <%= image_tag 'Box_'+i.to_s+'.png', :style => 'width:500px;height:455px;' %>
              <div id="Testinho" class="caixa">
                <% (1..30).each do |j| %>
                    <div id="slot<%= i %>-<%= j %>" class="caixinha">
                      <% if current_user.pokemons.where(box: i).exists?(box_position: j) %>
                        <%= link_to image_tag('miniaturePokemon/'+PokemonDefault.find_by(num: current_user.pokemons.where(box: i).find_by(box_position: j).number).code+'.png') %>
                          <% end %>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </li>
    <% end %>
  </ul>
</div>
