<%= button_to 'Delete', @pokemon, method: 'delete', :class => 'btn btn-danger', :style => 'width: 100%;' %>
<%= form_for @pokemon do |f| %>

    <div class="input-group">
      <div class="input-group-addon">Nickname</div>
      <%= f.text_field :name, :placeholder => 'Enter nickname', :class => 'form-control' %>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-4">
        <label>EVs</label>

        <div class="input-group">
          <div class="input-group-addon">HP</div>
          <%= f.text_field :ev_hp, :class => 'form-control', :placeholder => '0~255', :style => 'width: 100%;' %>
        </div>

        <div class="input-group">
          <div class="input-group-addon">ATK</div>
          <%= f.text_field :ev_atk, :class => 'form-control', :placeholder => '0~255', :style => 'width: 100%;' %>
        </div>

        <div class="input-group">
          <div class="input-group-addon">DEF</div>
          <%= f.text_field :ev_def, :class => 'form-control', :placeholder => '0~255', :style => 'width: 100%;' %>
        </div>

        <div class="input-group">
          <div class="input-group-addon">SP. ATK</div>
          <%= f.text_field :ev_spatk, :class => 'form-control', :placeholder => '0~255', :style => 'width: 100%;' %>
        </div>

        <div class="input-group">
          <div class="input-group-addon">SP. DEF</div>
          <%= f.text_field :ev_spdef, :class => 'form-control', :placeholder => '0~255', :style => 'width: 100%;' %>
        </div>

        <div class="input-group">
          <div class="input-group-addon">SPE</div>
          <%= f.text_field :ev_spe, :class => 'form-control', :placeholder => '0~255', :style => 'width: 100%;' %>
        </div>
      </div>


      <div class="col-md-4">
        <label>IVs</label>

        <div class="input-group">
          <div class="input-group-addon">HP</div>
          <%= f.text_field :iv_hp, :class => 'form-control', :placeholder => '0~255', :style => 'width: 100%;' %>
        </div>

        <div class="input-group">
          <div class="input-group-addon">ATK</div>
          <%= f.text_field :iv_atk, :class => 'form-control', :placeholder => '0~255', :style => 'width: 100%;' %>
        </div>

        <div class="input-group">
          <div class="input-group-addon">DEF</div>
          <%= f.text_field :iv_def, :class => 'form-control', :placeholder => '0~255', :style => 'width: 100%;' %>
        </div>

        <div class="input-group">
          <div class="input-group-addon">SP. ATK</div>
          <%= f.text_field :iv_spatk, :class => 'form-control', :placeholder => '0~255', :style => 'width: 100%;' %>
        </div>

        <div class="input-group">
          <div class="input-group-addon">SP. DEF</div>
          <%= f.text_field :iv_spdef, :class => 'form-control', :placeholder => '0~255', :style => 'width: 100%;' %>
        </div>

        <div class="input-group">
          <div class="input-group-addon">SPE</div>
          <%= f.text_field :iv_spe, :class => 'form-control', :placeholder => '0~255', :style => 'width: 100%;' %>
        </div>
      </div>

      <div class="col-md-4">

        <label>Moves</label>

        <div class="input-group">
          <div class="input-group-addon">Move 1</div>
          <%= f.text_field :move1_id, :class => 'form-control', :placeholder => 'Choose', :readonly => true, :value => (Move.find(@pokemon.move1_id).name if @pokemon.move1_id) %>
        </div>
        <div class="input-group">
          <div class="input-group-addon">Move 2</div>
          <%= f.text_field :move2_id, :class => 'form-control', :placeholder => 'Choose', :readonly => true, :value => (Move.find(@pokemon.move2_id).name if @pokemon.move2_id) %>
        </div>
        <div class="input-group">
          <div class="input-group-addon">Move 3</div>
          <%= f.text_field :move3_id, :class => 'form-control', :placeholder => 'Choose', :readonly => true, :value => (Move.find(@pokemon.move3_id).name if @pokemon.move3_id) %>
        </div>
        <div class="input-group">
          <div class="input-group-addon">Move 4</div>
          <%= f.text_field :move4_id, :class => 'form-control', :placeholder => 'Choose', :readonly => true, :value => (Move.find(@pokemon.move4_id).name if @pokemon.move4_id) %>
        </div>
        <% unless @pokemon.shiny? %>
        <img id="pokemon_picture" src="<%= image_path "pokemon/#{PokemonDefault.where(forme: nil).find_by(num: @pokemon.number).code}.gif"%>"/>
        <% else %>
            <img id="pokemon_picture" src="<%= image_path "shinyPokemon/#{PokemonDefault.where(forme: nil).find_by(num: @pokemon.number).code}.gif"%>"/>
        <% end %>
      </div>
    </div>

    <hr>
    <div class="row">

    <div class="col-md-6">


      <div class="input-group">
        <div class="input-group-addon">Item</div>
        <%= f.text_field :item_id, :class => 'form-control', :placeholder => 'Click to choose', :readonly => true, :value => (Item.find(@pokemon.item_id).name if @pokemon.item_id) %>
      </div>
      <div class="input-group">
        <div class="input-group-addon">Ability</div>
        <%= f.text_field :ability_id, :class => 'form-control', :placeholder => 'Click to choose', :readonly => true, :value => (Ability.find(@pokemon.ability_id).name if @pokemon.ability_id) %>
      </div>
      </div>
      <div class="col-md-6">
      <div class="input-group">
        <div class="input-group-addon">Specie</div>
        <input type="text" id="pokemon_specie" class="form-control" placeholder="Click to choose" value="<%= PokemonDefault.where(forme: nil).find_by(num: @pokemon.number).name %>" readonly/>
      </div>
        <%= f.label 'Shiny' %>
        <%= f.check_box :shiny, :onclick => 'shiny();' %>
        <%= f.submit 'Update', :class => 'btn btn-primary' %>
    </div>

</div>


    <div id="pokemon_list" class="lista">
      <input class="search form-control" placeholder="Search"/>
      <ul class="list" style="list-style: none; padding:0; margin:0;">
        <% PokemonDefault.where(forme: nil).each do |pkm| %>
            <li>
              <%= f.radio_button :number, pkm.num, :onclick => "render_picture('#{pkm.code}');" %>
              <%= image_tag 'miniaturePokemon/'+pkm.code+'.png' %>
              <span class="name"><%= pkm.name %></span>
              <%= image_tag 'types/'+pkm.type1+'.png' %>
              <% if not pkm.type2.nil? %>
                  <%= image_tag 'types/'+pkm.type2+'.png' %>
              <% end %>
            </li>
        <% end %>
      </ul>
    </div>


    <div id="item_list" class="lista">
      <input class="search form-control" placeholder="Search"/>
      <ul class="list" style="list-style: none; padding:0; margin:0;">
        <% Item.all.each do |item| %>
            <li>
              <%= f.radio_button :item_id, item.id, :onclick => "item('#{item.name}');" %>
              <%= image_tag 'itens/'+item.spritenum.to_s+'.png' %>
              <span class="item"><%= item.name %></span>
            </li>
        <% end %>
      </ul>
    </div>


    <div id="ability_list" class="lista">
      <input class="search form-control" placeholder="Search"/>
      <ul class="list" style="list-style: none; padding:0; margin:0;">
        <% Ability.all.each do |ability| %>
            <li>
              <%= f.radio_button :ability_id, ability.id, :onclick => "ability('#{ability.name}');" %>
              <span class="ability"><%= ability.name %></span>
            </li>
        <% end %>
      </ul>
    </div>


    <div id="move1_list" class="lista">
      <input class="search form-control" placeholder="Search"/>
      <ul class="list" style="list-style: none; padding:0; margin:0;">
        <% Move.all.each do |mv| %>
            <li>
              <%= f.radio_button :move1_id, mv.id, :onclick => "move1('#{mv.name}');" %>
              <span class="move"><%= mv.name %></span>
              <%= image_tag 'types/'+mv.type1+'.png' %>
              <span><%= mv.basePower %></span>/<span><%= mv.accuracy %></span>
            </li>
        <% end %>
      </ul>
    </div>

    <div id="move2_list" class="lista">
      <input class="search form-control" placeholder="Search"/>
      <ul class="list" style="list-style: none; padding:0; margin:0;">
        <% Move.all.each do |mv| %>
            <li>
              <%= f.radio_button :move2_id, mv.id, :onclick => "move2('#{mv.name}');" %>
              <span class="move"><%= mv.name %></span>
              <%= image_tag 'types/'+mv.type1+'.png' %>
              <span><%= mv.basePower %></span>/<span><%= mv.accuracy %></span>
            </li>
        <% end %>
      </ul>
    </div>

    <div id="move3_list" class="lista">
      <input class="search form-control" placeholder="Search"/>
      <ul class="list" style="list-style: none; padding:0; margin:0;">
        <% Move.all.each do |mv| %>
            <li>
              <%= f.radio_button :move3_id, mv.id, :onclick => "move3('#{mv.name}');" %>
              <span class="move"><%= mv.name %></span>
              <%= image_tag 'types/'+mv.type1+'.png' %>
              <span><%= mv.basePower %></span>/<span><%= mv.accuracy %></span>
            </li>
        <% end %>
      </ul>
    </div>

    <div id="move4_list" class="lista">
      <input class="search form-control" placeholder="Search"/>
      <ul class="list" style="list-style: none; padding:0; margin:0;">
        <% Move.all.each do |mv| %>
            <li>
              <%= f.radio_button :move4_id, mv.id, :onclick => "move4('#{mv.name}');" %>
              <span class="move"><%= mv.name %></span>
              <%= image_tag 'types/'+mv.type1+'.png' %>
              <span><%= mv.basePower %></span>/<span><%= mv.accuracy %></span>
            </li>
        <% end %>
      </ul>
    </div>



<% end %>
