<!DOCTYPE html>
<html>
<head>
  <title>PokéLibrary</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <nav class="pokeball_red navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">PokéLibrary</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">

      <% if user_signed_in? %>
          <li>
            <%= link_to do %>
                <%= current_user.name %>
            <% end %>
          </li>
          <li>
            <%= link_to(destroy_user_session_path, :method => :delete) do %>
                <i class="fa fa-fw fa-power-off"></i> Log Out
            <% end %>
          </li>
      <% else %>
          <div style="padding: 9px">
            <%= link_to user_omniauth_authorize_path(:facebook), class: "btn btn-block btn-social btn-facebook" do %>
                <i class="fa fa-facebook"></i>
                Sign in with Facebook
            <% end %>
          </div>
      <% end %>

    </ul>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">


        <% if user_signed_in? %>
            <li>
              <%= link_to new_pokemon_path, :remote => true do %>
                  <i class="fa fa-fw fa-plus"></i> Create a new Pokémon
              <% end %>
            </li>

            <li>
              <%= link_to new_party_path, :remote => true do %>
                  <i class="fa fa-fw fa-plus"></i> Create new Party
              <% end %>
            </li>

            <% current_user.parties.each do |party| %>
                <li>
                  <%= link_to party.name, edit_party_path(party), remote: true %>
                  <%= image_tag('miniaturePokemon/'+PokemonDefault.where(forme: nil).find_by_num(Pokemon.find(party.pkm1_id).number).code+'.png',
                                size: '34x26') unless (party.pkm1_id.nil? or Pokemon.find(party.pkm1_id).shiny?) %>
                  <%= image_tag('miniaturePokemon/'+PokemonDefault.where(forme: nil).find_by_num(Pokemon.find(party.pkm2_id).number).code+'.png',
                                size: '34x26') unless (party.pkm2_id.nil? or Pokemon.find(party.pkm2_id).shiny?) %>
                  <%= image_tag('miniaturePokemon/'+PokemonDefault.where(forme: nil).find_by_num(Pokemon.find(party.pkm3_id).number).code+'.png',
                                size: '34x26') unless (party.pkm3_id.nil? or Pokemon.find(party.pkm3_id).shiny?) %>
                  <%= image_tag('miniaturePokemon/'+PokemonDefault.where(forme: nil).find_by_num(Pokemon.find(party.pkm4_id).number).code+'.png',
                                size: '34x26') unless (party.pkm4_id.nil? or Pokemon.find(party.pkm4_id).shiny?) %>
                  <%= image_tag('miniaturePokemon/'+PokemonDefault.where(forme: nil).find_by_num(Pokemon.find(party.pkm5_id).number).code+'.png',
                                size: '34x26') unless (party.pkm5_id.nil? or Pokemon.find(party.pkm5_id).shiny?) %>
                  <%= image_tag('miniaturePokemon/'+PokemonDefault.where(forme: nil).find_by_num(Pokemon.find(party.pkm6_id).number).code+'.png',
                                size: '34x26') unless (party.pkm6_id.nil? or Pokemon.find(party.pkm6_id).shiny?) %>

                  <%= image_tag('miniaturePokemonShiny/'+PokemonDefault.where(forme: nil).find_by_num(Pokemon.find(party.pkm1_id).number).code+'.png',
                                size: '34x26') unless (party.pkm1_id.nil? or not Pokemon.find(party.pkm1_id).shiny?) %>
                  <%= image_tag('miniaturePokemonShiny/'+PokemonDefault.where(forme: nil).find_by_num(Pokemon.find(party.pkm2_id).number).code+'.png',
                                size: '34x26') unless (party.pkm2_id.nil? or not Pokemon.find(party.pkm2_id).shiny?) %>
                  <%= image_tag('miniaturePokemonShiny/'+PokemonDefault.where(forme: nil).find_by_num(Pokemon.find(party.pkm3_id).number).code+'.png',
                                size: '34x26') unless (party.pkm3_id.nil? or not Pokemon.find(party.pkm3_id).shiny?) %>
                  <%= image_tag('miniaturePokemonShiny/'+PokemonDefault.where(forme: nil).find_by_num(Pokemon.find(party.pkm4_id).number).code+'.png',
                                size: '34x26') unless (party.pkm4_id.nil? or not Pokemon.find(party.pkm4_id).shiny?) %>
                  <%= image_tag('miniaturePokemonShiny/'+PokemonDefault.where(forme: nil).find_by_num(Pokemon.find(party.pkm5_id).number).code+'.png',
                                size: '34x26') unless (party.pkm5_id.nil? or not Pokemon.find(party.pkm5_id).shiny?) %>
                  <%= image_tag('miniaturePokemonShiny/'+PokemonDefault.where(forme: nil).find_by_num(Pokemon.find(party.pkm6_id).number).code+'.png',
                                size: '34x26') unless (party.pkm6_id.nil? or not Pokemon.find(party.pkm6_id).shiny?) %>
                </li>
            <% end %>

        <% else %>

        <% end %>
      </ul>
    </div>
  </nav>

  <div id="page-wrapper">
    <%= yield %>
  </div>

</div>
</body>
</html>
